<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menü</mat-toolbar>
    <mat-nav-list>
      <!--Verlinkung funktioniert besser mit href, da die Seite gleich geladen wird. -->
      <!--Man muss bei routerLink erst aus dem Menü klicken.-->

      <a mat-list-item routerLink="/" routerLinkActive="active">Startseite</a>
      <a mat-list-item routerLink="/create" routerLinkActive="active">Post hinzufügen</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span></span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
