@media screen and (min-width: 990px){
  .fixed-top
  {
    visibility: hidden;
  }
}

.text-center a
{
    text-decoration:none;
}
.nav
{
    display: inline-block;
}
.header
{
  margin-bottom: 40px;
}

.floating-button > button
{
  border-radius: 50%;
}

nav > a{
  text-decoration: none;
  color: black;
}

.button-home{
    display: flex;
    align-items: center;
    justify-content: center;
}