<div class="container" novalidate>
  <div class="form-container">
    <h2>Buch hinzufügen</h2>
    <form [formGroup]="formGroup">

      <mat-form-field class="form-field" appearance="standard">
        <mat-label>Titel</mat-label>
        <input matInput placeholder="Titel hinzufügen" formControlName="inp_title" />
        <mat-error *ngIf="!inp_title.valid && inp_title.touched">
          <span *ngIf="inp_title.errors?.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="standard">
        <mat-label>Autor</mat-label>
        <input matInput placeholder="Autor hinzufügen" formControlName="inp_author" />
        <mat-error *ngIf="!inp_author.valid && inp_author.touched">
          <span *ngIf="inp_author.errors?.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="standard">
        <mat-label>Genre</mat-label>
        <input matInput placeholder="Genre hinzufügen" formControlName="inp_genre" />
        <mat-error *ngIf="!inp_genre.valid && inp_genre.touched">
          <span *ngIf="inp_genre.errors?.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="standard">
        <mat-label>Verlag</mat-label>
        <input matInput placeholder="Verlag hinzufügen" formControlName="inp_publisher" />
        <mat-error *ngIf="!inp_publisher.valid && inp_publisher.touched">
          <span *ngIf="inp_publisher.errors?.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>


      <mat-form-field class="form-field" appearance="standard">
        <mat-label>Ort</mat-label>
        <input matInput placeholder="Ort hinzufügen" formControlName="inp_location" />
        <mat-error *ngIf="!inp_location.valid && inp_location.touched">
          <span *ngIf="inp_location.errors?.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="standard">
        <mat-label>Jahr</mat-label>
        <input type="number" matInput placeholder="Jahr hinzufügen" formControlName="inp_published" />
        <mat-error *ngIf="!inp_published.valid && inp_published.touched">
          <span *ngIf="inp_published.errors?.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field inputbreit" appearance="standard">
        <input matInput readonly id="file_name" placeholder="Bild hochladen" />
        <input type="file" id="fileUpload" (change)="uploadFileEvt($event)" formControlName="inp_image" multiple="multiple" accept="image/*" />
      </mat-form-field>

    </form>
    <button mat-stroked-button (click)="onSubmit()" color="default" class="button" [disabled]="!formGroup.valid">
      Hinzufügen
    </button>
  </div>
</div>
